@model IEnumerable<Feedback.Models.Feedbacks>
@using Feedback.Models;
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Feedback Forum for : @Session["username"]</h2>
<hr />
@* add graphs here *@
<hr />
@using (Html.BeginForm())
{
<div style="float:right;">
    <input type="text" name="searchVal" placeholder="Search here" />
    @*<a href="#" onclick="location.href='@Url.Action("UserPage",new { cid=Session["cid"]})'"><i class="glyphicon glyphicon-search"></i></a>*@
    <button type="submit"><i class="glyphicon glyphicon-search"></i> </button>
    &ensp;
    @Html.DropDownList("Sortby", new SelectListItem[]
{ new SelectListItem() { Text = "Newest to Oldest", Value = "0" },
    new SelectListItem() { Text = "Oldest to Newest", Value = "1" },
    new SelectListItem() { Text = "Rating High to Low", Value = "2" },
    new SelectListItem() { Text = "Rating Low to High", Value = "3" }
})
    <button type="submit"><i class="glyphicon glyphicon-sort"></i> </button>


</div>

}
<br />
<hr />

@foreach (Feedbacks item in Model)
{

    //float avg = (float)(item.First + item.Second + item.Third + item.Fourth + item.Fifth + item.Sixth + item.Seventh) / 7;
    DateTime dov = (DateTime)(item.Customers.Dov);
    
    <div class="rightdiv">
        <div class="div-bookmarklet" style="font-size:large;">
            <div style="float:left">@item.Customers.Organization    (@dov.ToShortDateString())</div>
            <div style="float:right"><span class="glyphicon glyphicon-star" style="color:gold">@item.Avg</span></div>
        </div>
        <div class="make-it-big">
            <br />
            <p align="justify"><b>Product Name:</b>   @item.Products.Pname</p>
            <p align="justify"><b>Features to be added:</b><br />&ensp; @item.Addition</p>
            <p align="justify"><b>Features to be removed:</b><br />&ensp; @item.Deletion</p>
            <p align="justify"><b>Comments:</b><br />&ensp;@item.Comments</p>
        </div>
        <div style="float:right">
            @Html.ActionLink("View more...", "Details", new { id = item.Fid })
        </div>
        <br />

    </div>
}

